<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="AS01_SalesData"
			 connectionString="Server=DESKTOP-K9GK3MF\\SQLEXPRESS;Database=Lucy_SalesData;User Id=sa;Password=12345;TrustServerCertificate=True"
			 providerName="System.Data.sqlClient" />
	</connectionStrings>
</configuration>